<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>
      About Us
    </h1>
    <p class="text-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc arcu nunc, ornare a ultrices interdum, volutpat et dolor. Nullam odio purus, auctor eget eleifend sit amet, feugiat nec odio. Integer mauris eros, consectetur sit amet metus vel, scelerisque placerat sem. Praesent pellentesque risus dolor, a efficitur mauris consequat ac. Pellentesque vitae malesuada lectus, et tempus leo. Etiam a ultrices risus, sed mollis velit. Vivamus augue tortor, ullamcorper ac lobortis non, tristique quis nisi. Etiam lobortis dictum sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent lectus arcu, ullamcorper nec egestas at, egestas rhoncus enim. Integer nec magna lacinia, fringilla nulla ac, bibendum tortor. Fusce rutrum erat nec tellus euismod tempor. Ut venenatis arcu nunc, sit amet pellentesque dolor faucibus nec. Donec ante quam, semper non elementum in, vulputate in velit.

      Vestibulum in dapibus ante. Etiam pretium et nisl non ullamcorper. Nam pretium nibh id nulla dignissim tempus. Nunc et est turpis. Integer vitae risus aliquam ex placerat lacinia a non nisi. Vestibulum sed lacus nec orci blandit porta facilisis sit amet eros. Phasellus at suscipit est, at blandit tortor. Donec tincidunt, magna non iaculis fringilla, arcu eros porttitor libero, et laoreet est ante in enim. Donec at mollis elit. Nunc convallis interdum molestie. Morbi quis pretium mi, eget sodales libero. Donec convallis faucibus pulvinar. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean in ligula id neque lacinia viverra. Ut ornare laoreet quam at maximus.
    </p>
  </div>
</div>
