<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <img class="rounded-circle mb-5" src="{{ photo_url || 'https://via.placeholder.com/300'}}" alt="Generic placeholder image" width="140" height="140">
    </div>

    <button *ngIf="isLogged" routerLink="/myprofile" class="btn btn-outline-dark mb-5" style="width: 100%;">Edit Profile</button>
  </div>
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Name:</strong>
        {{ first_name }} {{ last_name }}
      </li>
      <li class="list-group-item">
        <strong>Job Title:</strong>
        {{ job_title }}
      </li>
      <li class="list-group-item">
        <strong>Email:</strong>
        {{ email }}
      </li>
      <li class="list-group-item">
        <strong>Mobile No.:</strong>
        {{ mobileNumber }}
      </li>
    </ul>
  </div>
</div>
